<web-app>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>shestakov.servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
</web-app>